__pycache__/
*.pyc
db.sqlite3
/playground/staticfiles/
/media/ 
/static/
.env
/playground/quotes/__pycache__/
/playground/quotes/__pycache__/*.pyc
/playground/config/__pycache__/
/playground/config/__pycache__/*.pyc