
{% extends 'base.html' %}

{% block content %}

<h2>Libros disponibles</h2>
<ul>
    
    {% for book in books  %}
        <li><strong>{{book.title}}</strong>  - {{book.author.name}}</li>
    
    {% empty %}
        <li>No hay libros disponibles.</li>

    {% endfor %}        
</ul>


{% if is_paginated %}
    <div>
        
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">Anterior</a>
        {% endif %}
        <span>Página {{page_obj.number}} de {{page_obj.paginator.num_pages}}</span>
        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">Siguiente</a>
        {% endif %}
            
    </div>
{% endif %}
    

{% endblock content %}

